[Unit]
Description=EOS update notifier runs periodically (weekly) and soon after a reboot

[Timer]
RandomizedDelaySec=10min
OnStartupSec=30sec
OnCalendar=daily

 
[Install]
WantedBy=timers.target
