[Unit]
Description=polkit-gnome-authentication-agent-1
After=network.target

[Service]
Type=simple
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Restart=on-failure

[Install]
WantedBy=default.target
