/*
!.config/
.config/*
!.config/alacritty/
!.config/autostart/
!.config/BetterDiscord/
!.config/conky/
!.config/dunst/
!.config/fish/
!.config/gtk-*/
!.config/i3/
!.config/picom/
!.config/polybar/
!.config/qt6ct/
!.config/qtile/
!.config/rofi/
!.config/spicetify/
.config/spicetify/*
!.config/systemd/
!.config/spicetify/Themes/
!.config/wallpapers/
!.config/xsettingsd/
!.config/starship.toml
!.profile
!.xprofile
!.bashrc
!.gitignore
**/*.bak
**/__pycache__
