*
!.gitignore
!.config/alacritty
!.config/BetterDiscord
!.config/conky
!.config/dunst
!.config/fish
!.config/gtk-*
!.config/i3
!.config/picom
!.config/polybar
!.config/qt6ct
!.config/qtile
!.config/rofi
!.config/spicetify
!.config/wallpapers
!.config/xsettingsd
!.config/starship.toml
!.profile
!.xprofile
!.bashrc