# Xsettings
xsettingsd &

# Disable beep
xset -b

# Set keyboad layout
setxkbmap -layout de

# Change caps to escape
setxkbmap -option caps:escape &

# Compositor
picom &

#Network Manager
nm-applet &

#Bluetooth Manager
blueman-applet &

# Notification Manager
dunst &

# Conky
conky &
