# Disable beep
xset -b

# Change caps to escape
setxkbmap -option caps:escape &

# Wallpaper
nitrogen --restore &

# Compositor
picom &

# Polybar
# polybar -r bar &

#Network Manager
nm-applet &

# Xsettings
xsettingsd &

# Notification Manager
dunst &

# Conky
conky &
