# Xsettings
xsettingsd &

# Disable beep
xset -b

# Session lock
xss-lock --transfer-sleep-lock -- ~/.config/i3/scripts/blur-lock &

# Compositor
picom &

# Authorization Manager
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# Network Applet
nm-applet &

# Bluetooth Applet
blueman-applet &

# Battery Indicator
cbatticon -u 2 &

# Notification Manager
dunst &

# Volume Applet
pasystray &

# Set monitor layout
autorandr --change &

# Conky
# conky -c ~/.config/conky/iroh.conf -d
