* {
    border: none;
    border-radius: 0;
    font-family: Hack Nerd Font, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @theme_base_color;
    color: @theme_text_color;
}

tooltip {
    border-radius: 9999px;
    text-shadow: none;
    box-shadow: none;
}

tooltip * {
    border-radius: 9999px;
    text-shadow: none;
    box-shadow: none;
}

#workspaces {
    padding: 4px;
}

#workspaces button {
    background-color: #3c3836;
}

#workspaces button:first-child {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

#workspaces button:last-child {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

#workspaces button.active {
    background-color: #98971a;
}

#cpu {
    background-color: #7c6f64;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

#memory {
    background-color: #665c54;
}

#pulseaudio {
    background-color: #504945;
}

#battery {
    background-color: #3c3836;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

#tray {
    background-color: #32302f;
    border-radius: 999px;
    margin-right: 4px;
}

#tray window,
#tray decoration {
    border-radius: 8px;
}
#tray menu {
    border-radius: 8px;
    padding: 8px 0px;
}

#clock {
    background-color: #98971a;
    color: #3c3836;
    border-radius: 999px;
    margin-left: 4px;
}

#mpris {
    margin: 4px;
    margin-left: 0px;
    min-width: 45px;
    border-radius: 999px;
    background-color: #504945;
}

#mpris.spotify {
    background-color: #98971a;
}

#mpris.firefox {
    background-color: #d65d0e;
}

#battery.warning,
#cpu.warning,
#memory.warning {
    background-color: #d79921;
    color: #282828;
}

#battery.critical,
#cpu.critical,
#memory.critical {
    background-color: #cc241d;
}

.modules-right {
    padding: 4px;
}

.modules-right box,
.modules-right label {
    padding: 0 10px;
    min-width: 30px;
}
